<tr *ngIf="red; else green;" style="background-color: red;">
  <td>{{id}}</td>
  <td>{{title}}</td>
  <td>{{price}}</td>
  <td>{{stock}}</td>
</tr>

<ng-template #green>
  <tr *ngIf="green; else red;" style="background-color:green;">
    <td>{{id}}</td>
    <td>{{title}}</td>
    <td>{{price}}</td>
    <td>{{stock}}</td>
  </tr>

</ng-template>
