<div>
  <table>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Price</th>
      <th>Stock</th>
    </tr>
    <ListItem *ngFor = "let ListItem of list" [data]="ListItem"></ListItem>
  </table>
</div>